<div class="domain-version-selector" data-state="collapsed">
  <button class="domain-version-selector-toggle">
    {{domainLabel}} {{#version-label version}}{{/version-label}}
  </button>
  <div class="domain-version-selector-panel">
    {{#each domainVersionIndex }}
      <div class="brdcrb-domain{{#if this.selected}} brdcrb-domain--current{{/if}}">
        <div class="brdcrb-domain-label">{{this.domainLabel}}</div>
        <div class="brdcrb-version-list">
          {{#each this.versions }}
            <a class="brdcrb-version{{#if this.selected}} brdcrb-version--current{{/if}}" href="{{this.href}}">{{this.version}}</a>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
