{{#if navigation.length }}
  <ul class="nav-lst">
    {{#each navigation }}
      <li class="nav-itm" data-depth="{{this.depth}}">
        {{#if this.depth }}
          {{#if this.items.length }}
            <button class="nav-tgl"></button>
          {{/if}}
        {{/if}}
        <a class="nav-lnk{{#if this.currentPath}} nav-lnk--currentPath{{/if}}{{#if this.currentPage}} nav-lnk--currentPage{{/if}}" href="{{this.href}}">{{{this.label}}}</a>
        {{> navigation navigation=this.items }}
      </li>
    {{/each}}
  </ul>
{{/if}}
