<ul class="navigation-list">
  {{#each navigation}}
    <li class="navigation-item">
      <a class="navigation-link" href="{{this.href}}">{{this.title}}</a>
      {{> navigation navigation=this.children }}
    </li>
  {{/each}}
</ul>
