{{#if navigation.length}}
  <ul class="navigation-list">
    {{#each navigation}}
      <li class="navigation-item">
        <a class="navigation-link" href="{{prefix-link ../module-path this.href}}" data-href="{{this.href}}">{{this.label}}</a>
        {{> navigation navigation=this.items module-path=../module-path }}
      </li>
    {{/each}}
  </ul>
{{/if}}
