{{#if (multiple-versions domainVersionIndex domain)}}
  <div class="page-version-selector">
    <button class="page-version-selector-toggle" title="Other versions of this topic">{{version}}</button>
    <div class="page-version-selector-panel">
      {{#each (page-versions domainVersionIndex domain otherVersions)}}
        <a class="page-version{{#equals version ../version}} page-version--current{{/equals}}{{#if missing}} page-version--missing{{/if}}" href="{{this.href}}">{{{this.version}}}</a>
      {{/each}}
    </div>
  </div>
{{/if}}
