<div class="toolbar" role="navigation">
<button class="navigation-open"></button>
{{#if siteRootUrl}}
<a href="{{siteRootUrl}}" class="home-link"></a>
{{/if}}
{{> domain-selector }}
{{> breadcrumbs }}
{{> page-version-selector }}
<div class="edit-this-page"><a href="{{editUrl}}" class="edit-this-page-link" title="Edit on GitHub">Edit</a></div>
</div>
