<div class="toolbar" role="navigation">
<button class="navigation-open"></button>
{{#if (eq siteRootUrl '')}}
<a href="{{siteRootUrl}}" class="home-link home-link--current"></a>
{{/if}}
{{#if siteRootUrl}}
<a href="{{siteRootUrl}}" class="home-link{{#if (eq siteRootUrl 'index.html')}} home-link--current{{/if}}"></a>
{{/if}}
{{> breadcrumbs }}
{{> page-version-selector }}
<div class="edit-this-page"><a href="{{editUrl}}" class="edit-this-page-link" title="Edit on GitHub">Edit</a></div>
</div>
