<footer class="footer">
  <div class="container-fluid">
    <div style="padding: 0 1rem;"><br>Mulesoft.com - Blog - Terms - Privacy - Contact</div>
    <div style="padding: 0 1rem;"><br><img src="{{theme-path}}/images/mulesoft-dev-logo.svg" height="40px"></div>
  </div>
</footer>
<script src="{{theme-path}}/scripts/highlight.pack.js"></script>
<script>hljs.initHighlighting()</script>
