<header class="header">
  <img src="{{theme-path}}/images/mulesoft-dev-logo.svg" alt="Home" class="header-logo">
  <div class="header-menu">
    <ul class="header-menu-developer">
      <li>Platform</li>
      <li>Resources</li>
      <li>Community</li>
      <li>Champions</li>
    </ul>
    <ul class="header-menu-cta">
      <li>Contact</li>
      <li>Try now</li>
      <li>MuleSoft.com</li>
    </ul>
  </div>
</header>
