<main role="main" class="main-wrapper">
  <div class="navigation-wrapper">
    <nav role="navigation" class="navigation">
      {{> static-nav }}
    </nav>
  </div>
  <article class="primary-content">
    <h1>{{title}}</h1>
    {{{contents}}}
  </article>
</main>
