.article-header {
  align-items: center;
  background-color: #f4f5f6;
  border-bottom: 1px solid #dadada;
  box-sizing: border-box;
  display: flex;
  height: 2.8rem;
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding: 0 0.7rem;
}

.article-header {
  font-size: 0.75rem;
}

.breadcrumb {
  flex: 1 1 0;
  padding: 0 1rem;
}

.breadcrumb-item {
  hyphens: none;
}

.breadcrumb-sep {
  margin: 0 0.5rem;
}

.edit-on-github-link {
  background: url(../images/github-logo.svg) no-repeat center left;
  background-size: contain;
  padding-left: 1.5rem;
}
