:root {
  --sticky-heading-offset: calc(var(--navbar-height) + var(--toolbar-height));
}

.doc {
  box-sizing: border-box;
  color: var(--color-gray20);
  hyphens: auto;
  margin: 0 auto;
  max-width: 40rem;
  padding: 0 1rem 6rem;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  color: var(--color-cerulean);
  font-family: DINPro, sans-serif;
  font-weight: normal;
  line-height: 1.3;
}

.doc h1 > a.anchor,
.doc h2 > a.anchor,
.doc h3 > a.anchor,
.doc h4 > a.anchor,
.doc h5 > a.anchor,
.doc h6 > a.anchor {
  position: absolute;
  text-decoration: none;
  width: 1.75ex;
  margin-left: -1.5ex;
  visibility: hidden;
  font-size: 0.8em;
  padding-top: 0.025em;
}

.doc h1 > a.anchor::before,
.doc h2 > a.anchor::before,
.doc h3 > a.anchor::before,
.doc h4 > a.anchor::before,
.doc h5 > a.anchor::before,
.doc h6 > a.anchor::before {
  content: "\00a7";
}

.doc h1:hover > a.anchor,
.doc h2:hover > a.anchor,
.doc h3:hover > a.anchor,
.doc h4:hover > a.anchor,
.doc h5:hover > a.anchor,
.doc h6:hover > a.anchor {
  visibility: visible;
}

.doc a,
.doc a:visited {
  color: var(--color-cerulean);
}

.doc a {
  text-decoration: none;
}

.doc a:hover {
  color: var(--color-bahama-blue);
  text-decoration: underline;
}

.doc strong {
  font-weight: 600;
}

.doc p code {
  background-color: #f5f5f5;
  color: black;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

.doc table.tableblock {
  border-collapse: collapse;
  font-size: 0.8em;
  margin-bottom: 2rem;
  margin-top: 2rem;
  /* enable table-layout: fixed if you want the table width to be enforced strictly */
  /* alternative is to wrap table in div and set overflow-x: auto on the wrapper */
  /*
  table-layout: fixed;
  */
}

.doc table.tableblock th,
.doc table.tableblock td {
  padding: 0.5rem;
}

.doc table.tableblock th {
  border-bottom: 3px solid var(--color-cerulean);
}

.doc table.tableblock td {
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.doc table.tableblock .halign-left {
  text-align: left;
}

.doc table.tableblock .valign-top {
  vertical-align: top;
}

.doc .tableblock p {
  font-size: inherit;
}

.doc .admonitionblock {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.doc .admonitionblock p,
.doc .admonitionblock .content {
  font-size: 0.8rem;
}

.doc .admonitionblock .icon i {
  display: inline-block;
  font-style: normal;
  hyphens: none;
}

.doc .admonitionblock .icon i::after {
  content: attr(title);
}

.doc .admonitionblock table {
  border-collapse: collapse;
  width: 100%;
}

.doc .admonitionblock td.content {
  padding: 0.5rem 1rem;
  border: 2px solid #e8e9ea;
  width: 100%;
}

.doc .admonitionblock .icon {
  padding: 0.5rem 1rem 0.5rem 0;
  font-weight: bold;
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;
}

.doc .admonitionblock.important .icon {
  color: var(--color-cerulean);
}

.doc .admonitionblock.caution .icon {
  color: var(--color-brick-red);
}

.doc .admonitionblock.tip .icon {
  color: var(--color-mountain-meadow);
}

.doc .admonitionblock.note .icon {
  color: var(--color-abbey);
}

.doc .admonitionblock.warning .icon {
  color: var(--color-saffron);
}

.doc .imageblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.9rem;
  margin-top: 0.9rem;
}

.doc .imageblock img {
  display: block;
}

.doc .imageblock .title {
  color: #555;
  font-style: italic;
  margin-top: 0.5rem;
}

.doc .imageblock img,
.doc .paragraph .image img {
  height: auto;
  width: auto;
  max-width: 100%;
}

/* reset */
.doc h1 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

#preamble + .sect1,
.doc .sect1 + .sect1 {
  margin-top: 2.5rem;
}

.doc h2 {
  position: sticky;
  top: var(--sticky-heading-offset);
  border-bottom: 1px solid var(--color-cerulean);
  margin: 1rem -1rem 0.9rem -1rem;
  background-color: #fff;
  padding: 0.4rem 1rem 0.1rem 1rem;
  z-index: 2;
}

.doc h3 {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.doc h4 {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.doc h5 {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.doc h6 {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.doc p {
  font-size: 0.95rem;
  margin: 0;
}

.doc .paragraph {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.doc .ulist .paragraph,
.doc .olist .paragraph {
  margin: 0;
  padding: 0;
}

.doc .admonitionblock .ulist,
.doc .admonitionblock .olist,
.doc .admonitionblock .content .paragraph {
  margin: 0.5rem 0;
  padding: 0;
}

.doc table.tableblock .paragraph {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.doc table.tableblock .admonitionblock,
.doc .ulist .admonitionblock,
.doc .olist .admonitionblock {
  padding: 0;
}

.doc ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
}

.doc ol {
  margin: 0;
  padding: 0 0 0 2rem;
}

.doc .colist,
.doc .olist,
.doc .ulist {
  margin-bottom: 0.9rem;
  margin-top: 0.9rem;
}

.doc .olist .olist,
.doc .olist .ulist,
.doc .olist .dlist,
.doc .ulist .olist,
.doc .ulist .ulist,
.doc .ulist .dlist,
.doc .dlist .ulist,
.doc .dlist .olist,
.doc .dlist .dlist {
  padding: 0;
}

.doc .olist li,
.doc .ulist li {
  margin-bottom: 0.5rem;
}

.doc .olist {
  font-weight: 600;
}

.doc .olist li > * {
  font-weight: normal;
}

.doc .listingblock {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.doc .ulist .listingblock,
.doc .olist .listingblock,
.doc .admonitionblock .listingblock {
  padding: 0;
}

.doc .listingblock .content {
  box-sizing: border-box;
}

.doc .listingblock pre {
  font-size: 0.95em;
  margin: 0;
  padding: 0.75rem;
  background-color: #f9fafa;
}

.doc .listingblock pre.highlight {
  background: none;
  padding: 0;
}

.doc .listingblock pre.highlight code {
  display: block;
  padding: 0.75rem;
  background-color: #f9fafa;
  box-shadow: inset 0 0 2px #aaa;
}

/* NEEDS REVIEW prevent pre in table from causing article to exceed bounds */
.doc .tableblock pre,
.doc .listingblock.wrap pre {
  white-space: pre-wrap;
}

.doc .dlist dt {
  color: var(--color-cerulean);
  font-weight: 600;
  font-style: italic;
}

.doc .dlist dt::after {
  content: ":"
}

.doc .dlist dd {
  margin-left: 1.5rem;
  margin-bottom: 0.3rem;
}

.doc .ex {
  background-color: var(--color-white-smoke);
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0 1rem;
  overflow: auto; /* forces background to be painted around margins of content */
}

.doc h3.view {
  color: inherit;
  text-align: center;
}

.doc h3.view ~ h3.view {
  padding-top: 1rem;
  border-top: 2px dotted var(--color-cerulean);
}

/* CALLOUTS */

.doc pre .conum[data-value] {
  font-family: monospace;
  font-size: .95em;
  margin-bottom: -.125em;
  position: relative;
  top: -.125em;
  vertical-align: middle;
}

.doc .conum[data-value] {
  border: 2px solid var(--color-cerulean);
  border-radius: 100%;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: .75em;
  font-style: normal;
  height: 1.25em;
  line-height: 1.25em;
  text-align: center;
  width: 1.25em;
}

.doc .conum[data-value]::after {
  content: attr(data-value);
}

.doc .conum[data-value] + b {
  display: none;
}

.doc .colist > table tr > td:first-of-type {
  padding: 0 .75em;
  line-height: 1;
}

.status-404 .doc {
  padding-bottom: 0;
  max-width: initial;
}

.status-404 .doc .imageblock {
  margin-top: 0;
  margin-bottom: 0;
}
