.domain-selector {
  align-items: center;
  display: flex;
  position: relative;
}

.domain-selector-toggle {
  background-color: transparent;
  background-image: url(../images/chevron.svg);
  background-repeat: no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: auto 0.95em;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  margin: 0;
  padding: 0.3rem 1.75rem 0.3rem 0.5rem;
  color: var(--color-gray20);
}

.domain-selector-toggle:active,
.domain-selector-toggle:focus,
.domain-selector-toggle:hover {
  border-color: var(--color-cerulean);
  outline: none;
  z-index: 4;
}

.domain-selector-toggle::-moz-focus-inner {
  border: none;
}

.domain-selector[data-state=expanded] .domain-selector-toggle {
  border-color: transparent !important;
  z-index: 5;
}

.domain-selector-panel {
  background-color: var(--color-white-smoke);
  border: 1px solid var(--color-cerulean);
  padding: 2.5rem 0.5rem 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.domain-selector[data-state=expanded] .domain-selector-panel {
  visibility: visible;
  z-index: 4;
}

.domain {
  align-items: center;
  display: flex;
}

.domain-versions {
  display: flex;
}

.domain-title {
  font-weight: bold;
  padding-right: 0.5rem;
  text-align: right;
  width: 12rem;
}

.domain-version {
  border: 1px solid var(--color-cerulean);
  color: var(--color-gray20) !important;
  display: block;
  height: 1.4rem;
  hyphens: none;
  line-height: 1.4rem;
  margin: 0.2rem;
  padding: 0 0.5rem;
  text-align: center;
  white-space: nowrap;
}

a.domain-version--current,
a.domain-version:hover {
  border-color: var(--color-cerulean);
  background-color: var(--color-cerulean);
  color: #fff !important;
  text-decoration: none;
}
