.footer {
  background-color: #0f0f0f;
  color: #fff;
  overflow: hidden;
  padding: 1.5rem 1rem 2.5rem;
}

.footer-bottom-wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.footer p {
  margin: 0;
}

.footer .connect-footer {
  font-size: 17px;
}

.footer .terms-conditions {
  color: #6d6e71;
  flex: 0 1 33.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 22px;
  margin-right: 1rem;
  order: -1;
}

.footer .terms-conditions a {
  color: var(--color-cerulean);
  text-decoration: none;
}

.footer-end {
  align-items: center;
  border-top: 1px solid #00a1e1;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 0;
  padding-top: 0.7rem;
}

.footer-logo-wrapper .footer-logo {
  background: url(../images/mulesoft-dev-logo.svg) no-repeat center center;
  background-size: cover;
  display: block;
  height: 35px;
  width: 160px;
}

.footer ul.social-links {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul.social-links li {
  margin: 0 3px;
}

.social-links a {
  background: url(../images/header_footer_sprite.svg) no-repeat 0 0;
  /* this the the normal height of the image */
  background-size: 1134px;
  display: block;
  height: 36px;
  margin: 0;
  width: 36px;
}

.social-links a.icon-muletheme-phone {
  background-position: -861px -28px;
}

.social-links a.icon-muletheme-linkedin {
  background-position: -621px -28px;
}

.social-links a.icon-muletheme-twitter {
  background-position: -667px -28px;
}

.social-links a.icon-muletheme-facebook {
  background-position: -715px -28px;
}

.social-links a.icon-muletheme-email {
  background-position: -763px -28px;
}

.social-links a.icon-muletheme-youtube {
  background-position: -809px -28px;
}

.footer .copyright {
  color: #00a2df;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
