.footer {
  background-color: var(--color-aaaa);
  color: #fff;
  padding-top: 3rem;
}

.footer__wrapper {
  margin: 0 auto;
  /* for sites that don't take the full width of the page */
  max-width: 60rem;
}

.footer__top {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.footer p {
  margin: 0;
}

.footer .terms-conditions {
  color: #6d6e71;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  margin: 2.5rem 0;
}

.footer .terms-conditions a {
  color: var(--color-b);
  text-decoration: none;
}

.footer .brand-terms-conditions {
  display: none;
}

.footer-end {
  background: #424143;
  margin: 0 auto;
  padding: 2rem 0;
  width: 100%;
}

.footer .copyright {
  color: #00a2df;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
}

.footer-logo-wrapper {
  float: none;
  text-align: center;
  margin: 0px auto 20px;
  width: 100%;
}

.footer-logo-wrapper .footer-logo {
  float: none;
  display: block;
  margin: auto;
}


.footer-logo-wrapper .footer-logo {
  background-position: -532px -31px;
}
.footer-logo-wrapper {
  width: 33%;
  clear: both;
  overflow: hidden;
  float: left;
  display: block;
}

.footer-logo-wrapper .footer-logo {
  height: 35px;
  background: url(../images/header_footer_sprite.svg) no-repeat;
  -webkit-background-size: 1100%;
  background-size: 1100%;
  background-position: -532px -31px;
}

.footer-end .footer-logo {
  width: 112px;
  clear: both;
  overflow: hidden;
  float: left;
}

ul.social-links {
  float: left;
  width: 40%;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin: 0;
}

ul.social-links li {
  display: inline-block;
  margin: 0 5px;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  width: 31px;
  height: 31px;
  background-image: url(../images/footer-rounded-icons.svg);
  background-repeat: no-repeat;
  background-size: 494%;
  background-position: 0 0;
  width: 32px;
  height: 32px;
}


.social-links a.icon-muletheme-linkedin {
  background-position: -42px 0;
}

.social-links a.icon-muletheme-facebook {
  background-position: -84px 0;
}

.social-links a.icon-muletheme-youtube {
  background-position: -126px 0;
}
