body {
  --header-height: 4.4rem;
  padding-top: var(--header-height);
}

.header {
  background-color: var(--color-aaaa);
  box-sizing: border-box;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  word-wrap: break-word;
  z-index: 6;
}

.header__wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.header__logo--primary-nav {
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
}

.header__logo-image {
  display: block;
  height: 3.25rem;
  margin: 0.5rem 0.5rem 0 0;
}

.block__title,
.block-title {
  display: none;
}

