:root {
  --navbar-height: 4.4rem;
}

body {
  padding-top: var(--navbar-height);
}

.header {
  background-color: var(--color-gray3);
  box-sizing: border-box;
  color: #fff;
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  word-wrap: break-word;
  z-index: 7;
}

.header__region,
.header__top-wrapper {
  display: none;
}

@media (min-width: 1024px) {
  .header__region,
  .header__top-wrapper {
    display: block;
  }
}

.header__wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.header__logo--primary-nav {
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
}

.header__logo-image {
  display: block;
  height: 3.25rem;
  margin: 0.5rem 0.5rem 0 0;
}
