:root {
  --color-a: #000000;
  --color-aa: #333333;
  --color-aaa: #444444;
  --color-aaaa: #262626;
  --color-b: #00a2df;
  --color-c: #23527c;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

html {
  font-size: 1em;
}

@media (min-width: 1024px) {
  html {
    font-size: 1.2em;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.main-wrapper {
  display: flex;
  position: relative;
}

.navigation-wrapper {
  display: none;
}

@media (min-width: 80rem) {
  .navigation-wrapper {
    display: block;
  }
}
