.navigation__wrapper {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
}

.navigation__wrapper,
.navigation__wrapper button {
  font-size: 0.95rem;
}

.navigation__wrapper[data-state="open"] {
  display: block;
}

@media (min-width: 700px) {
  .navigation__wrapper {
    top: var(--navbar-height);
    width: 21em;
    z-index: 6;
  }
}

@media (min-width: 1024px) {
  .navigation__wrapper {
    position: relative;
    top: 0;
  }
}

.navigation {
  background-color: var(--color-white-smoke);
  bottom: 0;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  position: absolute;
  top: var(--navbar-height);
  width: 100%;
  z-index: 3;
}

.navigation__wrapper[data-state="open"] .navigation {
  display: flex;
}

@media (min-width: 700px) {
  .navigation {
    border-right: 1px solid var(--color-cerulean);
    top: 0;
  }
}

@media (min-width: 1024px) {
  .navigation__wrapper,
  .navigation {
    display: flex;
  }

  .navigation {
    height: calc(100vh - var(--navbar-height));
    top: var(--navbar-height);
    position: sticky;
  }
}

@media (min-width: 1024px) {
  .navigation,
  .navigation button {
    font-size: 0.85rem;
  }
}

.navigation-open {
  background: url(../images/nav.svg) no-repeat center center;
  background-size: 50%;
  border: none;
  cursor: pointer;
  display: block;
  height: 2.25rem;
  padding: 0;
  width: 2.25rem;
}

@media (min-width: 1024px) {
  .navigation-open {
    display: none;
  }
}

.navigation-close {
  background: url(../images/close.svg) no-repeat center center;
  background-size: 60%;
  border: none;
  cursor: pointer;
  display: block;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
}

@media (min-width: 1024px) {
  .navigation-close {
    display: none;
  }
}

.navigation-toolbar {
  display: flex;
  border-bottom: 1px solid var(--color-cerulean);
}

.navigation-toolbar [data-panel] {
  background-color: transparent;
  border-width: 0 0 3px 0;
  border-color: transparent;
  border-style: solid;
  color: var(--color-gray20);
  cursor: pointer;
  display: block;
  flex: 1 1 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  height: var(--toolbar-height);
  padding: 0;
  outline: none;
}

.navigation-toolbar [data-panel]::-moz-focus-inner {
  border: none;
}

.navigation-toolbar [data-panel]:hover {
  color: var(--color-cerulean);
}

.navigation-toolbar .navigation--currentPanel[data-panel] {
  border-color: var(--color-cerulean);
  color: var(--color-cerulean);
}

.navigation-panels {
  flex: 1 1 0;
  overflow: auto;
  /* useful for offsetTop maths in JS */
  position: relative;
}

.navigation-panels [data-panel]:not(.navigation--currentPanel) {
  display: none;
}

[data-overlay=navigation] .doc,
[data-overlay=navigation] .footer {
  display: none;
}

[data-overlay=navigation] {
  height: auto;
}

@media (min-width: 700px) {
  [data-overlay=navigation] .doc,
  [data-overlay=navigation] .footer {
    display: block;
  }
}
