.navigation__wrapper {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
}

.navigation__wrapper,
.navigation__wrapper button {
  font-size: 0.95rem;
}

.navigation__wrapper[data-state="open"] {
  display: block;
}

@media (min-width: 700px) {
  .navigation__wrapper {
    top: var(--navbar-height);
    width: 21em;
    z-index: 6;
  }
}

@media (min-width: 1024px) {
  .navigation__wrapper {
    position: relative;
    top: 0;
  }
}

.navigation {
  background-color: var(--color-white-smoke);
  bottom: 0;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  position: absolute;
  top: var(--navbar-height);
  width: 100%;
  z-index: 3;
}

.navigation__wrapper[data-state="open"] .navigation {
  display: flex;
}

@media (min-width: 700px) {
  .navigation {
    border-right: 1px solid var(--color-cerulean);
    top: 0;
  }
}

@media (min-width: 1024px) {
  .navigation__wrapper,
  .navigation {
    display: flex;
  }

  .navigation {
    height: 100vh;
    top: var(--navbar-height);
    position: sticky;
  }
}

@media (min-width: 1024px) {
  .navigation,
  .navigation button {
    font-size: 0.85rem;
  }
}

.navigation-open {
  background: url(../images/nav.svg) no-repeat center center;
  background-size: 50%;
  border: none;
  cursor: pointer;
  display: block;
  height: 2.25rem;
  padding: 0;
  width: 2.25rem;
}

@media (min-width: 1024px) {
  .navigation-open {
    display: none;
  }
}

.navigation-close {
  background: url(../images/close.svg) no-repeat center center;
  background-size: 60%;
  border: none;
  cursor: pointer;
  display: block;
  height: 2.5rem;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
}

@media (min-width: 1024px) {
  .navigation-close {
    display: none;
  }
}

.search {
  display: none;
}

@media (min-width: 1024px) {
  .search {
    display: block;
  }
}

.search-input {
  background-color: var(--color-cerulean);
  border: none;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 0.85rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  margin: 0;
  width: 100%;
}

.search-input::placeholder {
  color: #ddd;
}

.nav-tree {
  box-sizing: border-box;
  flex: 1 1 0;
  min-height: 0;
  overflow: auto;
  padding: 0.1rem 0.5rem 0.5rem 0;
}

.nav-lvl {
  flex: 1 1 100%;
  list-style: none;
  margin: 0 0 0 0.5rem;
  padding: 0;
}

.nav-lvl .nav-lvl {
  margin-left: 1.5em;
}

.nav-itm {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.nav-itm > .nav-lvl {
  display: none;
}

.nav-itm[data-depth="0"] > .nav-lvl,
.nav-itm[data-state=expanded] > .nav-lvl {
  display: block;
}

.nav-ctl {
  background: transparent url(../images/triangle.svg) no-repeat center center;
  background-size: 60%;
  border: none;
  cursor: pointer;
  height: 1.85em;
  outline: none;
  margin-top: 0.35em;
  padding: 0;
  width: 1.5em;
}

@media (min-width: 700px) {
  .nav-ctl {
    height: 1.6em;
  }
}

.nav-ctl::-moz-focus-inner {
  border: none;
}

.nav-itm[data-state=expanded] > .nav-ctl {
  transform: rotate(90deg);
}

.nav-lnk,
.nav-txt {
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  flex: 1 1 0;
  line-height: 1.85em;
  margin-left: 1.5em;
  padding-top: 0.35em;
  text-decoration: none;
}

@media (min-width: 700px) {
  .nav-lnk,
  .nav-txt {
    line-height: 1.6em;
  }
}

.nav-itm--currentPage > .nav-lnk,
.nav-itm--currentPage > .nav-txt {
  color: var(--color-cerulean);
}

.nav-itm[data-depth="0"] > .nav-lnk,
.nav-itm[data-depth="0"] > .nav-txt,
.nav-itm[data-depth="0"] > .nav-lvl {
  margin-left: 0;
}

.nav-ctl + .nav-lnk,
.nav-ctl + .nav-txt {
  margin-left: 0;
}

.nav-lnk:hover {
  text-decoration: underline;
}

.nav-itm[data-depth="0"] > .nav-lnk,
.nav-itm[data-depth="0"] > .nav-txt {
  font-weight: 600;
}

[data-overlay=navigation] .doc,
[data-overlay=navigation] .footer {
  display: none;
}

[data-overlay=navigation] {
  height: auto;
}

@media (min-width: 700px) {
  [data-overlay=navigation] .doc,
  [data-overlay=navigation] .footer {
    display: block;
  }
}
