.nav-tree {
  box-sizing: border-box;
  flex: 1 1 0;
  min-height: 0;
  padding: 0.1rem 0.5rem 0.5rem 0;
}

.nav-lvl {
  flex: 1 1 100%;
  list-style: none;
  margin: 0 0 0 0.5rem;
  padding: 0;
}

.nav-lvl .nav-lvl {
  margin-left: 1.5em;
}

.nav-itm {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.nav-itm > .nav-lvl {
  display: none;
}

.nav-itm[data-depth="0"] > .nav-lvl,
.nav-itm[data-state=expanded] > .nav-lvl {
  display: block;
}

.nav-ctl {
  background: transparent url(../images/triangle.svg) no-repeat center center;
  background-size: 60%;
  border: none;
  cursor: pointer;
  height: 1.85em;
  outline: none;
  margin-top: 0.35em;
  padding: 0;
  width: 1.5em;
}

@media (min-width: 700px) {
  .nav-ctl {
    height: 1.6em;
  }
}

.nav-ctl::-moz-focus-inner {
  border: none;
}

.nav-itm[data-state=expanded] > .nav-ctl {
  transform: rotate(90deg);
}

.nav-lnk,
.nav-txt {
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  flex: 1 1 0;
  line-height: 1.85em;
  margin-left: 1.5em;
  padding-top: 0.35em;
  text-decoration: none;
}

@media (min-width: 700px) {
  .nav-lnk,
  .nav-txt {
    line-height: 1.6em;
  }
}

.nav-itm--currentPage > .nav-lnk,
.nav-itm--currentPage > .nav-txt {
  color: var(--color-cerulean);
}

.nav-itm[data-depth="0"] > .nav-lnk,
.nav-itm[data-depth="0"] > .nav-txt,
.nav-itm[data-depth="0"] > .nav-lvl {
  margin-left: 0;
}

.nav-ctl + .nav-lnk,
.nav-ctl + .nav-txt {
  margin-left: 0;
}

.nav-lnk:hover {
  text-decoration: underline;
}

.nav-itm[data-depth="0"] > .nav-lnk,
.nav-itm[data-depth="0"] > .nav-txt {
  font-weight: 600;
}
