.navigation-wrapper {
  display: none;
}

@media (min-width: 80rem) {
  .navigation-wrapper {
    display: block;
  }
}

.navigation {
  background-color: #f4f5f6;
  border-right: 1px solid var(--color-b);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
  height: calc(100vh - var(--header-height));
  position: sticky;
  top: var(--header-height);
  width: 20rem;
  z-index: 3;
}

.search-input {
  background-color: var(--color-b);
  border: none;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 0.85rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1rem;
  margin: 0;
  width: 100%;
}

.search-input::placeholder {
  color: #ddd;
}

.inner-nav {
  box-sizing: border-box;
  flex: 1 1 0;
  min-height: 0;
  overflow: auto;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.nav-lst {
  flex: 1 1 100%;
  list-style: none;
  margin: 0 0 0 0.5rem;
  padding: 0;
}

.nav-lst .nav-lst {
  margin-left: 1rem;
}

.nav-itm:not([data-state="expanded"]):not([data-depth="0"]) > .nav-lst {
  display: none;
}

.nav-itm {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.nav-tgl {
  background: transparent url(../images/triangle.svg) no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  height: 1.4rem;
  outline: none !important;
  padding: 0;
  width: 0.75rem;
}

.nav-itm[data-state="expanded"] > .nav-tgl {
  transform: rotate(90deg);
}

.nav-lnk {
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  flex: 1 1 0;
  line-height: 1.4rem;
  margin-left: 1.2rem;
  padding-bottom: 0.35rem;
  text-decoration: none;
}

.nav-itm--currentPage > .nav-lnk {
  color: var(--color-b);
}

.nav-itm[data-depth="0"] > .nav-lnk,
.nav-itm[data-depth="0"] > .nav-lst {
  margin-left: 0.25rem;
}

.nav-tgl + .nav-lnk {
  margin-left: 0.45rem;
}

.nav-lnk:hover {
  text-decoration: underline;
}

.nav-itm[data-depth="0"] > .nav-lnk {
  font-weight: bold;
}
