.navigation__wrapper {
  display: none;
}

@media (min-width: 80rem) {
  .navigation__wrapper {
    display: block;
  }
}

.navigation {
  background-color: var(--color-white-smoke);
  border-right: 1px solid var(--color-cerulean);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
  position: sticky;
  top: 0;
  padding-top: var(--navbar-height);
  margin-top: calc(-1 * var(--navbar-height));
  height: 100vh;
  width: 20rem;
  z-index: 3;
}

.search-input {
  background-color: var(--color-cerulean);
  border: none;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 0.85rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1rem;
  margin: 0;
  width: 100%;
}

.search-input::placeholder {
  color: #ddd;
}

.nav-tree {
  box-sizing: border-box;
  flex: 1 1 0;
  min-height: 0;
  overflow: auto;
  padding: 0 0.5rem 0.5rem 0;
}

.nav-lvl {
  flex: 1 1 100%;
  list-style: none;
  margin: 0 0 0 0.5rem;
  padding: 0;
}

.nav-lvl .nav-lvl {
  margin-left: 1rem;
}

.nav-itm {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.nav-itm > .nav-lvl {
  display: none;
}

.nav-itm[data-depth="0"] > .nav-lvl,
.nav-itm[data-state=expanded] > .nav-lvl {
  display: block;
}

.nav-ctl {
  background: transparent url(../images/triangle.svg) no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  height: 1.4rem;
  outline: none;
  margin-top: 0.35rem;
  padding: 0;
  width: 0.75rem;
}

.nav-ctl::-moz-focus-inner {
  border: none;
}

.nav-itm[data-state=expanded] > .nav-ctl {
  transform: rotate(90deg);
}

.nav-lnk,
.nav-ttl {
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  flex: 1 1 0;
  line-height: 1.4rem;
  margin-left: 1.2rem;
  padding-top: 0.35rem;
  text-decoration: none;
}

.nav-tree > .nav-lvl:first-child > .nav-itm:first-child > .nav-lnk,
.nav-tree > .nav-lvl:first-child > .nav-itm:first-child > .nav-ttl {
  padding-top: 0.5rem;
}

.nav-itm--currentPage > .nav-lnk,
.nav-itm--currentPage > .nav-ttl {
  color: var(--color-cerulean);
}

.nav-itm[data-depth="0"] > .nav-lnk,
.nav-itm[data-depth="0"] > .nav-ttl,
.nav-itm[data-depth="0"] > .nav-lvl {
  margin-left: 0.25rem;
}

.nav-ctl + .nav-lnk,
.nav-ctl + .nav-ttl {
  margin-left: 0.45rem;
}

.nav-lnk:hover {
  text-decoration: underline;
}

.nav-itm[data-depth="0"] > .nav-lnk,
.nav-itm[data-depth="0"] > .nav-ttl {
  font-weight: bold;
}
