html {
  font-family: 'openSans', Arial, sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5em;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

#page {
  background: #FFFFFF;
}

#page {
  height: 100%;
}

#page, .region-bottom {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

article, aside, details, figcaption, figure, main, nav, section, summary {
  display: block;
}

nav {
  margin-right: 95px;
}

@media screen and (max-width: 450px) {
  nav {
    display: none;
  }
}

nav ul li {
  padding: 0 0 0 10px;
}

nav ul li:first-child {
  padding-left: 0;
}
