.page-version-selector {
  margin-right: 0.7rem;
  position: relative;
}

.page-version-selector-toggle {
  background: transparent url(../images/chevron.svg) no-repeat calc(100% - 0.5rem) 50%;
  background-size: auto 50%;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  margin: 0;
  padding: .3rem 2rem .3rem 0.5rem;
  position: relative;
  z-index: 3;
}

.page-version-selector[data-state="expanded"] .page-version-selector-toggle {
  background-image: url(../images/chevron-white.svg);
  color: #fff;
}

.page-version-selector-toggle:hover,
.page-version-selector-toggle:active,
.page-version-selector-toggle:focus {
  outline: none;
  border-color: var(--color-b);
}

.page-version-selector-panel {
  background-color: var(--color-b);
  border: 1px solid var(--color-b);
  box-sizing: border-box;
  left: 0;
  padding: 1.6rem 0.5rem 0.3rem 0.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.page-version-selector[data-state="collapsed"] .page-version-selector-panel {
  display: none;
}

.page-version-selector .page-version {
  display: block;
  color: #fff !important;
  font-size: 0.75rem;
}

.page-version-selector .page-version:hover {
  color: #fff;
}
