.primary-content {
  box-sizing: border-box;
  color: var(--color-gray20);
  flex: 1 1 0;
  hyphens: auto;
  padding: 0 0 6rem 0;
}

.primary-content h1,
.primary-content h2,
.primary-content h3,
.primary-content h4,
.primary-content h5,
.primary-content h6 {
  color: var(--color-cerulean);
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

.primary-content h1 > a.anchor,
.primary-content h2 > a.anchor,
.primary-content h3 > a.anchor,
.primary-content h4 > a.anchor,
.primary-content h5 > a.anchor,
.primary-content h6 > a.anchor {
  text-decoration: none;
  float: left;
  width: 0;
  visibility: hidden;
  margin-left: -1.25ch;
}

.primary-content h1:hover > a.anchor::before,
.primary-content h2:hover > a.anchor::before,
.primary-content h3:hover > a.anchor::before,
.primary-content h4:hover > a.anchor::before,
.primary-content h5:hover > a.anchor::before,
.primary-content h6:hover > a.anchor::before {
  content: "\00a7";
  visibility: visible;
}

.primary-content h1,
.primary-content h2,
.primary-content h3,
.primary-content h4,
.primary-content h5,
.primary-content h6,
  /* [id=preamble] instead of #preamble to decrease specificity */
  /* this specific line is for sectionless pages */
.primary-content h1 ~ :not([class^="sect"]):not([id=preamble]),
.primary-content [id=preamble] > .sectionbody > :not([class^="sect"]),
.primary-content .sect1 > .sectionbody > :not([class^="sect"]),
.primary-content .sect2 > :not([class^="sect"]),
.primary-content .sect3 > :not([class^="sect"]),
.primary-content .sect4 > :not([class^="sect"]),
.primary-content .sect5 > :not([class^="sect"]),
.primary-content .sect6 > :not([class^="sect"]) {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.primary-content a,
.primary-content a:visited {
  color: var(--color-cerulean);
}

.primary-content a {
  text-decoration: none;
}

.primary-content a:hover {
  color: var(--color-bahama-blue);
  text-decoration: underline;
}

.primary-content strong {
  font-weight: 600;
}

.primary-content p code {
  background-color: #f5f5f5;
  color: black;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

.primary-content table.tableblock {
  border-collapse: collapse;
  font-size: 0.8em;
  margin-bottom: 2rem;
  margin-top: 2rem;
  /* the selector for all "main" blocks is too strong for this one :-) */
  max-width: 38rem !important;
  /* enable table-layout: fixed if you want the table width to be enforced strictly */
  /* alternative is to wrap table in div and set overflow-x: auto on the wrapper */
  /*
  table-layout: fixed;
  */
}

.primary-content table.tableblock th,
.primary-content table.tableblock td {
  padding: 0.5rem;
}

.primary-content table.tableblock th {
  border-bottom: 3px solid var(--color-cerulean);
}

.primary-content table.tableblock td {
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.primary-content table.tableblock .halign-left {
  text-align: left;
}

.primary-content table.tableblock .valign-top {
  vertical-align: top;
}

.primary-content .admonitionblock {
  font-size: 0.85rem;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.primary-content .admonitionblock .icon i {
  display: inline-block;
  font-style: normal;
  hyphens: none;
}

.primary-content .admonitionblock .icon i::after {
  content: attr(title);
}

.primary-content .admonitionblock table {
  border-collapse: collapse;
  width: 100%;
}

.primary-content .admonitionblock td.content {
  padding: 0.5rem 1rem;
  border: 2px solid #e8e9ea;
  width: 100%;
  font-size: 0.9em;
}

.primary-content .admonitionblock .icon {
  padding: 0.5rem 1rem 0.5rem 0;
  font-weight: bold;
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;
}

.primary-content .admonitionblock.important .icon {
  color: var(--color-cerulean);
}

.primary-content .admonitionblock.caution .icon {
  color: var(--color-brick-red);
}

.primary-content .admonitionblock.tip .icon {
  color: var(--color-mountain-meadow);
}

.primary-content .admonitionblock.note .icon {
  color: var(--color-abbey);
}

.primary-content .admonitionblock.warning .icon {
  color: var(--color-saffron);
}

.primary-content .imageblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.9rem;
  margin-top: 0.9rem;
}

.primary-content .imageblock img {
  display: block;
}

.primary-content .imageblock .title {
  color: #555;
  font-style: italic;
  margin-top: 0.5rem;
}

.primary-content .imageblock img,
.primary-content .paragraph .image img {
  height: auto;
  width: auto;
  max-width: 100%;
}

/* reset */
.primary-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.primary-content h2 {
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--color-cerulean);
  margin-bottom: 0.9rem;
  padding: 0.25rem 1rem;
  z-index: 2;

  /* method A: transparent top border */
  /*
  background-color: #fff;
  border-top: var(--navbar-height) solid transparent;
  margin-top: calc(-1 * var(--navbar-height) + 1.5rem);
  background-clip: padding-box;
  */

  /* method B: padding top with a partial transparent background */
  background-image: linear-gradient(to bottom, transparent var(--navbar-height-sticky), #fff var(--navbar-height-sticky));
  padding-top: calc(var(--navbar-height) + 0.25rem);
  margin-top: calc(-1 * var(--navbar-height) - 0.25rem + 1.75rem);
}

/* TODO needs review; might want to define before .primary-content h2[id]
.primary-content *[id]:not(h2) {
  border-top: calc(var(--navbar-height) + 3rem) solid transparent;
  margin-top: calc(-1 * var(--navbar-height) - 3rem);
}
*/

.primary-content h3 {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.primary-content h4 {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.primary-content h5 {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.primary-content h6 {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.primary-content p {
  margin: 0;
}

.primary-content .paragraph {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.primary-content .ulist .paragraph,
.primary-content .olist .paragraph {
  margin: 0;
  padding: 0;
}

.primary-content .admonitionblock .ulist,
.primary-content .admonitionblock .olist,
.primary-content .admonitionblock .content .paragraph {
  margin: 0.5rem 0;
  padding: 0;
}

.primary-content table.tableblock .paragraph {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.primary-content table.tableblock .admonitionblock,
.primary-content .ulist .admonitionblock,
.primary-content .olist .admonitionblock {
  padding: 0;
}

.primary-content ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
}

.primary-content ol {
  margin: 0;
  padding: 0 0 0 2rem;
}

.primary-content .colist,
.primary-content .olist,
.primary-content .ulist {
  margin-bottom: 0.9rem;
  margin-top: 0.9rem;
}

.primary-content .olist .olist,
.primary-content .olist .ulist,
.primary-content .olist .dlist,
.primary-content .ulist .olist,
.primary-content .ulist .ulist,
.primary-content .ulist .dlist,
.primary-content .dlist .ulist,
.primary-content .dlist .olist,
.primary-content .dlist .dlist {
  padding: 0;
}

.primary-content .olist li,
.primary-content .ulist li {
  margin-bottom: 0.5rem;
}

.primary-content .olist {
  font-weight: 600;
}

.primary-content .olist li > * {
  font-weight: normal;
}

.primary-content .listingblock {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.primary-content .ulist .listingblock,
.primary-content .olist .listingblock,
.primary-content .admonitionblock .listingblock {
  padding: 0;
}

.primary-content .listingblock .content {
  box-sizing: border-box;
}

.primary-content .listingblock pre {
  font-size: 0.95em;
  margin: 0;
  padding: 0.75rem;
  background-color: #f9fafa;
}

.primary-content .listingblock pre.highlight {
  background: none;
  padding: 0;
}

.primary-content .listingblock pre.highlight code {
  display: block;
  padding: 0.75rem;
  background-color: #f9fafa;
  box-shadow: inset 0 0 2px #aaa;
}

.primary-content .listingblock.wrap pre.highlight code {
  white-space: pre-wrap;
}

.primary-content .dlist dt {
  color: var(--color-cerulean);
  font-weight: 600;
  font-style: italic;
}

.primary-content .dlist dt::after {
  content: ':'
}

.primary-content .dlist dd {
  margin-left: 1.5rem;
  margin-bottom: 0.3rem;
}

/* CALLOUTS */

.primary-content pre .conum[data-value] {
  font-family: monospace;
  font-size: .95em;
  margin-bottom: -.125em;
  position: relative;
  top: -.125em;
  vertical-align: middle;
}

.primary-content .conum[data-value] {
  border: 2px solid var(--color-cerulean);
  border-radius: 100%;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: .75em;
  font-style: normal;
  height: 1.25em;
  line-height: 1.25em;
  text-align: center;
  width: 1.25em;
}

.primary-content .conum[data-value]::after {
  content: attr(data-value);
}

.primary-content .conum[data-value] + b {
  display: none;
}

.colist > table tr > td:first-of-type {
  padding: 0 .75em;
  line-height: 1;
}
