.primary-content {
  box-sizing: border-box;
  color: var(--color-aa);
  flex: 1 1 0;
  hyphens: auto;
  padding: 0 0 6rem 0;
}

.primary-content h1,
.primary-content h2,
.primary-content h3,
.primary-content h4,
.primary-content h5,
.primary-content h6 {
  color: var(--color-b);
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

.primary-content h1 > a.anchor,
.primary-content h2 > a.anchor,
.primary-content h3 > a.anchor,
.primary-content h4 > a.anchor,
.primary-content h5 > a.anchor,
.primary-content h6 > a.anchor {
  text-decoration: none;
  float: left;
  width: 0;
  visibility: hidden;
  margin-left: -1.25ch;
}

.primary-content h1:hover > a.anchor:before,
.primary-content h2:hover > a.anchor:before,
.primary-content h3:hover > a.anchor:before,
.primary-content h4:hover > a.anchor:before,
.primary-content h5:hover > a.anchor:before,
.primary-content h6:hover > a.anchor:before {
  content: "\00a7";
  visibility: visible;
}

.primary-content h1,
.primary-content h2,
.primary-content h3,
.primary-content h4,
.primary-content h5,
.primary-content h6,
  /* [id=preamble] instead of #preamble to decrease specificity */
.primary-content [id=preamble] > .sectionbody > :not([class^="sect"]),
.primary-content .sect1 > .sectionbody > :not([class^="sect"]),
.primary-content .sect2 > :not([class^="sect"]),
.primary-content .sect3 > :not([class^="sect"]),
.primary-content .sect4 > :not([class^="sect"]),
.primary-content .sect5 > :not([class^="sect"]),
.primary-content .sect6 > :not([class^="sect"]) {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.primary-content a,
.primary-content a:visited {
  color: var(--color-b);
  text-decoration: none;
}

.primary-content strong {
  font-weight: 600;
}

.primary-content a:hover {
  color: var(--color-c);
  text-decoration: underline;
}

.primary-content p code {
  background-color: #f5f5f5;
  color: black;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

.primary-content table.tableblock {
  border-collapse: collapse;
  font-size: 0.8em;
  margin-bottom: 2rem;
  margin-top: 2rem;
  /* the selector for all "main" blocks is too strong for this one :-) */
  max-width: 38rem !important;
  table-layout: fixed;
  overflow-wrap: break-word;
}

.primary-content table.tableblock th,
.primary-content table.tableblock td {
  padding: 0.5rem;
}

.primary-content table.tableblock th {
  border-bottom: 3px solid var(--color-b);
}

.primary-content table.tableblock td {
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.primary-content table.tableblock .halign-left {
  text-align: left;
}

.primary-content table.tableblock .valign-top {
  vertical-align: top;
}

.primary-content .admonitionblock {
  font-size: 0.85rem;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.primary-content .admonitionblock.important {
  --color-accent: var(--color-b);
}

.primary-content .admonitionblock.caution {
  --color-accent: #D1344E;
}

.primary-content .admonitionblock.tip {
  --color-accent: #16BB64;
}

.primary-content .admonitionblock.note {
  --color-accent: #58595A;
}

.primary-content .admonitionblock.warning {
  --color-accent: #F2BF24;
}

.primary-content .admonitionblock table {
  border-collapse: collapse;
  width: 100%;
}

.primary-content .admonitionblock td.content {
  padding: 0.5rem 1rem;
  border: 2px solid #e8e9ea;
  width: 100%;
  font-size: 0.9em;
}

.primary-content .admonitionblock .icon {
  padding: 0.5rem 1rem 0.5rem 0;
  color: var(--color-accent);
  font-weight: bold;
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;
}

.primary-content .imageblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.9rem;
  margin-top: 0.9rem;
}

.primary-content .paragraph .image {
  display: inline-block;
  margin-bottom: 0.9rem;
  margin-top: 0.9rem;
}

.primary-content .imageblock img {
  display: block;
}

.primary-content .imageblock .title {
  color: #555;
  font-style: italic;
  margin-top: 0.5rem;
}

.primary-content .imageblock img,
.primary-content .paragraph .image img {
  height: auto;
  width: auto;
  max-width: 100%;
}

/* reset */
.primary-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.primary-content h2 {
  background-color: #fff;
  border-bottom: 1px solid var(--color-b);
  margin-bottom: 0.9rem;
  margin-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  position: sticky;
  top: calc(var(--header-height) - 1.5rem);
  z-index: 2;
}

.primary-content h3 {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.primary-content h4 {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.primary-content h5 {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.primary-content h6 {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.primary-content p {
  margin: 0;
}

.primary-content .paragraph {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.primary-content .ulist .paragraph,
.primary-content .olist .paragraph {
  margin: 0;
  padding: 0;
}

.primary-content .admonitionblock .ulist,
.primary-content .admonitionblock .olist,
.primary-content .admonitionblock .content .paragraph {
  margin: 0.5rem 0;
  padding: 0;
}

.primary-content table.tableblock .paragraph {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.primary-content table.tableblock .admonitionblock,
.primary-content .ulist .admonitionblock,
.primary-content .olist .admonitionblock {
  padding: 0;
}

.primary-content ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
}

.primary-content ol {
  margin: 0;
  padding: 0 0 0 2rem;
}

.primary-content .colist,
.primary-content .olist,
.primary-content .ulist {
  margin-bottom: 0.9rem;
  margin-top: 0.9rem;
}

.primary-content .olist .olist,
.primary-content .olist .ulist,
.primary-content .olist .dlist,
.primary-content .ulist .olist,
.primary-content .ulist .ulist,
.primary-content .ulist .dlist,
.primary-content .dlist .ulist,
.primary-content .dlist .olist,
.primary-content .dlist .dlist {
  padding: 0;
}

.primary-content .olist li,
.primary-content .ulist li {
  margin-bottom: 0.5rem;
}

.primary-content .olist {
  font-weight: 600;
}

.primary-content .olist li > * {
  font-weight: normal;
}

.primary-content .listingblock {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.primary-content .ulist .listingblock,
.primary-content .olist .listingblock,
.primary-content .admonitionblock .listingblock {
  padding: 0;
}

.primary-content .listingblock .content {
  box-sizing: border-box;
}

.primary-content .listingblock pre {
  font-size: 0.95em;
  margin: 0;
  padding: 0.75rem;
  background-color: #f9fafa;
}

.primary-content .listingblock pre.highlight {
  background: none;
  padding: 0;
}

.primary-content .listingblock pre.highlight code {
  display: block;
  padding: 0.75rem;
  background-color: #f9fafa;
  box-shadow: inset 0 0 2px #aaa;
}

.primary-content .listingblock.wrap pre.highlight code {
  white-space: pre-wrap;
}

.primary-content .dlist dt {
  color: var(--color-b);
  font-weight: 600;
  font-style: italic;
}

.primary-content .dlist dt::after {
  content: ':'
}
.primary-content .dlist dd {
  margin-left: 1.5rem;
  margin-bottom: 0.3rem;
}
