#st-autocomplete-panel {
  position: relative;
}
.st-autocomplete-results {
  top: 0 !important;
  width: 100%;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.12);
}
.st-autocomplete-results ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.st-autocomplete-results li {
  border-bottom: 1px solid #e0e6eb;
  margin: 0;
  padding: 0;
}
.st-autocomplete-results a.result-item {
  text-decoration: none;
  padding: 12px 18px 12px 28px;
  cursor: pointer;
  display: block;
  line-height: 1.4;
  color: #0089d7;
}
.st-autocomplete-results a.result-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.st-autocomplete-results em {
  font-style: normal;
  font-weight: bold;
  background-color: #f6fcfe;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.st-autocomplete-results span.result-detail {
  font-size: 11px;
  color: #788a9e;
}
@keyframes st-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.9)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}
#st-search-overlay {
  display: none;
}
.st-search-overlay-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}
#st-search-panel {
  animation: st-fade-in ease-in-out .5s;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 50%;
  width: 640px;
  overflow: hidden;
  margin: 64px 0 0 -320px;
  height: 80%;
  background: #fff;
  z-index: 10001;
}
#st-search-results {
  overflow: auto;
  height: calc(100% - 100px);
}
#st-search-results::after {
  content: '';
  display: block;
  height: 1em;
}
#st-search-results a.result-item, .st-no-results, .st-loading-message {
  padding: 12px 18px 12px 28px;
  padding-bottom: 0;
  line-height: 1.4;
}
.st-loading-message {
  margin: 0;
}
#st-search-results a.result-item {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #0089d7;
}
#st-search-results em {
  font-style: normal;
  font-weight: bold;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
#st-search-results span.result-detail {
  font-size: 11px;
  color: #788a9e;
}
#st-search-results span.result-body {
  color: #788a9e;
  display: block;
  max-height: 2.8em;
  overflow: hidden;
}
#st-search-panel-close {
  position: absolute;
  display: block;
  cursor: pointer;
  text-indent: 100%;
  overflow: hidden;
  width: 16px;
  height: 16px;
  top: 17px;
  right: 14px;
  background: no-repeat 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpGRTdGMTE3NDA3MjA2ODExODNEMUZBQzQ0QjA0QzNBNiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0NUVFODNCNEJGOUUxMUU0OUM4NjgxM0FCRENCNTgwOCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0NUVFODNCM0JGOUUxMUU0OUM4NjgxM0FCRENCNTgwOCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MjM5ODAzQkIxNjIwNjgxMTgzRDFGQUM0NEIwNEMzQTYiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RkU3RjExNzQwNzIwNjgxMTgzRDFGQUM0NEIwNEMzQTYiLz4gPC9yZGY6RGVzY3JpcHRpb24%2BIDwvcmRmOlJERj4gPC94OnhtcG1ldGE%2BIDw%2FeHBhY2tldCBlbmQ9InIiPz7C3vnyAAAFsElEQVR42uxaT28TRxRf%2B8AhThBIUdSqysqxSpEQUdwbijiU4%2FIV7EhwaY%2FEiKofol8ApOSSqhJ8gHKFKBy4leYSDDjGEXJ6C8LAsds31W%2BqyWR35s3sjjcCnvRTvM7beX88f96892qRG7UJ1wgrhAuEWXz%2FnvCS8BfhEeEZZ7A0TaMq5XOpQbhF2BM6M7GHdxo2BzDQINwi7KV82sM7Ddv4NYvxHcKvhK%2FxPCb8QXhK6BOO8P15wkXCFcJ1wjf4%2FpDwM%2BF3zxkQVL6JzhA2lF90BwPXGe8KngTvyPc3MCZ3BpwhbCi%2F6A7hOqHOmDGCJ8E7kjYw5gn%2BLJpXlJ8Q1gg1j6VTw7sTxYnzDAfMK8pPCGuEGnO5qKjh3YnixHmbAxqYXuI%2F%2B4TlEvaQZYyVYuxZgwPEmn0KhfcJyx6G61jGWCnGnjU54D4UFTvqQokb6QLGTCEjzwH3oehLwkIJxkssYMwUMjId0IGCYmNZisqnFsZOIUtXsgMFjwhLJRov0cLYKWQdc8AMdkzxTTcKR13IELLUI2qGcAjlugGMl%2BhCxqE8IiX1oNgTw4Yn1m6TYWRTXecZG6PcYHuKYj0o9sSw4Ym122QY2dTXubYxyg22pzpABjmJwXih%2BAhT2TTNR%2BCdy%2BFJIOu5opgMchKD8ULxEaayaZqPwDuXw5NA1nPpgBUo9MZwzjdhWGpwQkvhOTDMljpkCb42KbEChd4YzvkmDEsNTmgpPAeG2VKHLEFtdfrfY2xieU7QjW9ZxroL3tvK9L%2FH2MTynKAb37KMdRe8t4UyW1DmJnMn153garygG%2BDfIiW2oMxN5k6uO8HVeIEb4Be2R9tQZtXhOFOdYFsaWbSKd7ZJiW0os%2BpwnKlOsC2NLKziHWF7tAtlLjme6SMl1ncxPoIs8d4uKbELZS45nukjJdZ3MT6CLEG79egzJ%2BGAt%2Fh8zuHXF0mHGGv%2BAJ8fOcwCKeuoavnCAa%2FxcNFD%2BDVAKvGYqcR3%2BDuqWr5wwJ94uOIhfB%2BQSiwylZCynp0C%2Bf%2Fl2aoMhNpVB0JVhcL9ikPhftZlaMdgXBmXochyGdoxGFfGZSjKuwyp1%2BFOwFOnw7gOdwJehzt512E9IdIMYPySQ0KkGcD4JVNCRE%2BJ9QOkxF5g7AeMlFg%2FQErsBcZ%2BYMoJzgVIil4mDJSk6FmDA%2BYCJEUvEwZKUvSsa1q8SIqsW0JavFswBeaUFjcVRpIChZHNEgojSYHCyGZeYcS1NCYCmIdKaUqN42VpKkFEJktTvxB%2BK6k0Vqp8l%2BLoukdxdL3E4ui6R3F0vYziaF55%2BnvCt4qBHwivENdPozxeivyIuaaz6B%2F80v%2Fbgu%2BmRVOV%2F0n3B3A2obGD4TrGptCaGbqOU38a20Jr7jFYFEX7A4qSd39AmfAJhMok5%2F6AEHDpDwhB7P6AkOD0B4Qka3%2FANGC6Dk%2BDOnogNIMb21dTOsf%2FFoEMKfChSvkigJKB0E8M4e%2BVFLaJXoPXRELWj8pz1fKtQY640l5FSnpg4BuAR%2FC%2Bs4yZ1R%2BQR%2BJKe5UQK3f7LBqAR%2FC%2Bs4x5oj%2FAhKFyw8pzgjQ%2BAu%2BQMa7aH2CiIWERzspzgjQ%2BAu%2BQMe6x%2FgAbBgYn6MYPmGOq%2FQE2GhicoBs%2FYI55rD%2FA1wm%2Bxuv9Ab5O8DX%2BRH%2BArxNiy9IwQe0P8HVCbFkaJjrWH%2BDrBF%2Fj9f4AXyf4Gl%2B4P6BmeQ5NpchX%2BwO4pFdjF%2FH5B%2FzPhY6qll9nBhd5wh8Di1rJmkujUyDf6RiMGcdgHPAYjBnHYOx6DLaZgVAcKBBqMwOhOFQgVFUo3K84FM7sD7A5YcicLRMGX1Z%2FgM0JQ%2BZsmTD4el%2Buw8p1%2BCPhzhTP8DsoZkSnRP5UU2Kc%2FoCQxO4PCJUU5fYHhEqKOvUHfHZp8VCFkaL9AUVp06UwUnZpbK3i0thakdrgl%2F6AT70%2F4F8BBgDEXiDf%2BIZifAAAAABJRU5ErkJggg%3D%3D);
  background-size: 32px 32px;
  opacity: 0.67;
}
.st-search-panel-header {
  position: relative;
  height: 49px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #f0f4f7;
}
#st-search-panel-input {
  background: transparent;
  width: 100%;
  border: 0;
  padding: 0 36px;
  padding-top: 2px;
  height: 48px;
  color: #3a444f;
  font-size: 15px;
  box-sizing: border-box;
  outline: none;
}
#st-search-panel-input:focus {
  height: 50px;
  border-bottom: 2px solid #33aaff;
}
.st-page {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f0f4f7;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 49px;
}
.st-next, .st-prev {
  text-transform: uppercase;
  line-height: 49px;
  color: #0083e3;
  padding: 0 14px;
}
.st-next {
  float: right;
}
